__pycache__
pylint.txt
assistant.py
credentials.json
openai_api_key.txt
test.py
build
tools.egg-info
token.json
sayvai_tools.egg-info
engine.py
translation-396717-e2931c0fd933.json
.idea
src/sayvai_tools/utils/phrase_set.yaml
db.py
dist

